Node-RED/Node_RED_File.txt
[{"id":"c5f2ff23.ab588","type":"ble uart","z":"cbe69612.d9ee68","name":"Domenick","localName":"Domenick","x":380,"y":100,"wires":[["59f0dc68.459604","8883301b.9203","57374f02.3c481"]]},{"id":"e7f50a55.9b9528","type":"http in","z":"cbe69612.d9ee68","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["acc138c5.9c6f38"]]},{"id":"59f0dc68.459604","type":"debug","z":"cbe69612.d9ee68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":140,"wires":[]},{"id":"f244745.984b188","type":"inject","z":"cbe69612.d9ee68","name":"","topic":"","payload":"pickup();","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["c5f2ff23.ab588"]]},{"id":"acc138c5.9c6f38","type":"function","z":"cbe69612.d9ee68","name":"","func":"var msg1 = { payload:\"first out of output 1\" };\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["c5f2ff23.ab588"]]},{"id":"91ad6df4.a6b4f","type":"inject","z":"cbe69612.d9ee68","name":"","topic":"","payload":"drop(1);","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["c5f2ff23.ab588"]]},{"id":"70d8fca.b88e404","type":"inject","z":"cbe69612.d9ee68","name":"","topic":"","payload":"drop(0);","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["c5f2ff23.ab588"]]},{"id":"8883301b.9203","type":"function","z":"cbe69612.d9ee68","name":"","func":"msg.payload = msg.payload.toString();\nif(msg.payload==\"pickupSuccess(1)\"){\n    msg.payload = {\n        \"id\": 93861,\n        \"pickupsuccess\": true,\n    }\n}\nelse if(msg.payload==\"pickupSuccess(0)\"){\n    msg.payload = {\n        \"id\": 93861,\n        \"pickupsuccess\": false,\n    }\n}\nelse if(msg.payload==\"dropSuccess(1)\"){\n    msg.payload = {\n        \"id\": 93861,\n        \"dropsuccess\": true,\n    }\n}\nelse if(msg.payload==\"dropSuccess(0)\"){\n    msg.payload = {\n        \"id\": 93861,\n        \"dropsuccess\": false,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["d373ab53.7f60d8"]]},{"id":"8ba4108.a9511f","type":"inject","z":"cbe69612.d9ee68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"30","x":120,"y":280,"wires":[["ad4bc1d9.01571"]]},{"id":"ad4bc1d9.01571","type":"function","z":"cbe69612.d9ee68","name":"","func":"msg.payload = {\n    \"id\": 93861,\n    \"partnr\": \"P-3007203\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["dd488b90.9ce4b8","ddee2125.efa0f"]]},{"id":"dd488b90.9ce4b8","type":"debug","z":"cbe69612.d9ee68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":320,"wires":[]},{"id":"ddee2125.efa0f","type":"http request","z":"cbe69612.d9ee68","name":"","method":"POST","ret":"txt","url":"http://192.168.1.4:1880/init","tls":"","x":530,"y":280,"wires":[[]]},{"id":"d373ab53.7f60d8","type":"http request","z":"cbe69612.d9ee68","name":"","method":"POST","ret":"txt","url":"http://192.168.1.4:1880/update","tls":"","x":690,"y":100,"wires":[["59f0dc68.459604"]]},{"id":"a98fe762.60e0e8","type":"ui_gauge","z":"cbe69612.d9ee68","name":"","group":"34719ae.abb5666","order":1,"width":0,"height":0,"gtype":"gage","title":"Pickuprate","label":"%","format":"{{msg.payload.pickuprate}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":380,"wires":[]},{"id":"57374f02.3c481","type":"http request","z":"cbe69612.d9ee68","name":"","method":"GET","ret":"obj","url":"http://192.168.1.4:1880/id/93861","tls":"","x":290,"y":420,"wires":[["3e76031e.ef744c","dfe4f6dc.e22e88","209ea58b.c16e4a","3b9fa548.2a634a"]]},{"id":"c12eb511.d9c948","type":"inject","z":"cbe69612.d9ee68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":110,"y":420,"wires":[["57374f02.3c481"]]},{"id":"6cf0de1d.91507","type":"ui_gauge","z":"cbe69612.d9ee68","name":"","group":"34719ae.abb5666","order":4,"width":0,"height":0,"gtype":"gage","title":"Droprate","label":"%","format":"{{msg.payload.droprate}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":460,"wires":[]},{"id":"3e76031e.ef744c","type":"function","z":"cbe69612.d9ee68","name":"","func":"msg.payload.pickuprate = Math.round(msg.payload.pickuprate * 100) / 100;\nmsg.payload.droprate = Math.round(msg.payload.droprate * 100) / 100;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":420,"wires":[["a98fe762.60e0e8","6cf0de1d.91507","14e1df9f.79ef2","f6381df7.a530d","5b37eafe.be51e4","8cbf482f.0e6448"]]},{"id":"dfe4f6dc.e22e88","type":"debug","z":"cbe69612.d9ee68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":500,"wires":[]},{"id":"3b9fa548.2a634a","type":"ui_text","z":"cbe69612.d9ee68","group":"414bbe0b.ae66b","order":1,"width":0,"height":0,"name":"","label":"ID: ","format":"{{msg.payload.id}}","layout":"row-spread","x":310,"y":540,"wires":[]},{"id":"209ea58b.c16e4a","type":"ui_text","z":"cbe69612.d9ee68","group":"414bbe0b.ae66b","order":2,"width":0,"height":0,"name":"","label":"Partnr: ","format":"{{msg.payload.partnr}}","layout":"row-spread","x":310,"y":500,"wires":[]},{"id":"14e1df9f.79ef2","type":"ui_text","z":"cbe69612.d9ee68","group":"34719ae.abb5666","order":2,"width":0,"height":0,"name":"","label":"Counting Pickups:","format":"{{msg.payload.pickup}}","layout":"row-spread","x":730,"y":420,"wires":[]},{"id":"f6381df7.a530d","type":"ui_text","z":"cbe69612.d9ee68","group":"34719ae.abb5666","order":5,"width":0,"height":0,"name":"","label":"Counting Drops:","format":"{{msg.payload.drop}}","layout":"row-spread","x":720,"y":500,"wires":[]},{"id":"5b37eafe.be51e4","type":"ui_text","z":"cbe69612.d9ee68","group":"34719ae.abb5666","order":3,"width":0,"height":0,"name":"","label":"Pickupsuccess:","format":"{{msg.payload.pickupsuccess}}","layout":"row-spread","x":900,"y":460,"wires":[]},{"id":"8cbf482f.0e6448","type":"ui_text","z":"cbe69612.d9ee68","group":"34719ae.abb5666","order":6,"width":0,"height":0,"name":"","label":"Dropsuccess:","format":"{{msg.payload.dropsuccess}}","layout":"row-spread","x":900,"y":500,"wires":[]},{"id":"34719ae.abb5666","type":"ui_group","z":"","name":"Patrik / Edoardo / Domenick","tab":"2cfcb5f0.e0402a","order":2,"disp":true,"width":"6","collapse":false},{"id":"414bbe0b.ae66b","type":"ui_group","z":"","name":"Info","tab":"2cfcb5f0.e0402a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2cfcb5f0.e0402a","type":"ui_tab","z":"","name":"Patrik / Edoardo / Domenick","icon":"dashboard"}]

